SNOWFLAKE_ACCOUNT=xy12345.us-east-1
SNOWFLAKE_USER=your_username
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_ROLE=HEALTHCARE_LOADER
SNOWFLAKE_WAREHOUSE=HEALTHCARE_WH
SNOWFLAKE_DATABASE=HEALTHCARE_ANALYTICS
SNOWFLAKE_SCHEMA=RAW_HEALTHCARE
KAGGLE_CSV_DIR=./data/raw_csv
